html {
 background: url("https://i.imgur.com/8BqaiY9.jpg") no-repeat center fixed; 
 background-size: contain; 
}
header h1{
	margin:auto;
	text-align:center;
}
	
nav {
	background-color:#00AA55;
}

nav ul{
	list-style-type: none;
	margin:0;
	padding:0;
	overflow: hidden;

}



nav li{
	display:inline;
	float: right;
	padding:10px;
}

nav a{
	display:inline-block;
	text-align:center;
	padding:14px;
	border-radius:5px;
	text-decoration:none;
	font-weight:bold;
	
}

nav a:link{
	color:#FFFFFF;
	
}

nav a:visited{
	color:#ffffff;	
}

nav a:hover{
	background-color:#42733f;
}
form{
	padding:10px;
	margin-bottom:10px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
* {
  box-sizing: border-box;
}
.div1 {
 background: url("https://i.imgur.com/mQmQM8f.jpg") no-repeat center fixed; 
 background-size: contain;     
}
.menu {
  float:left;
  width:20%;
  text-align:center;
}
.menu a {
  padding:8px;
  margin-top:7px;
  display:block;
  width:100%;
  color:black;
}
.main {
  float:left;
  width:60%;
  padding:0 20px;
}
.right {
  float:left;
  width:20%;
  padding:15px;
  margin-top:7px;
  text-align:center;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width:100%;
  }
}

#wrapper{
	width:85%;
	margin-right:auto;
	margin-left:auto;
	opacity:97%;
}



#myInput {
	box-sizing: border-box;
	background-image: url('searchicon.png');
	background-position: 14px 12px;
	background-repeat: no-repeat;
	font-size: 16px;
	padding: 14px 20px 12px 45px;
	border: none;
	border-bottom: 1px solid #ddd;
}

	#myInput:focus {
		outline: 3px solid #ddd;
	}


	#myUL li a {
		display: block
	}
