commands:
   01_update_composer:
    command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update

   01pdo_sqlsrv:
      command: |
         yum install -y php-pear gcc gcc-c++ unixODBC-devel
         pecl install sqlsrv
         pecl install pdo_sqlsrv
         echo extension=pdo_sqlsrv.so >> `php --ini | grep "Scan for additional .ini files" | sed -e "s|.*:\s*||"`/pdo_sqlsrv.ini
         echo extension=sqlsrv.so >> `php --ini | grep "Scan for additional .ini files" | sed -e "s|.*:\s*||"`/sqlsrv.ini

         curl https://packages.microsoft.com/config/rhel/7/prod.repo > /etc/yum.repos.d/mssql-release.repo
         ACCEPT_EULA=Y yum install -y msodbcsql17
